<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="css/zigbee.css" rel="stylesheet" type="text/css">
<TITLE><{$title}></TITLE>

<{$srcAllJSfile}>
<script language="JavaScript">
function gotoPage(pageIndex)
{
	docuObj=document.mainform;
	docuObj.currentPage.value=pageIndex;
	docuObj.topopt.value="gotopage";
	docuObj.submit();
}
function sendorder(index)
{
	window.history.back();
}
</script>
</head>
<body topmargin="0">
<form name="mainform" method="post" action="m_store.php"> 
<input type="hidden" name="cmd" value="add">
<input type="hidden" name="topopt" value="">
<input type="hidden" name="currentPage" value="<{$cp|default:'1'}>">
<{include file="head.tmpl"}>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" class="color3">
  <tr> 
    <td height="20">&nbsp;</td>
  </tr>
  <tr > 
    <td valign="top"> 
<table width="77%" border="0" align="center" cellpadding="0" cellspacing="1"  class="border2">
  <tr>
     <td class="bg" colspan="2" height="30"><font class="bluenew">&nbsp;店铺基本表查找</font>
     </td>
  </tr>
  <tr>
    <td>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1"  class="border2">
    <tr> 
      <td align="center" class="color8" width="15%"  height="24"><font class="bluenew">店铺编号</font></td>
      <td align="center" class="color8" width="25%"><font class="bluenew">店铺名</font></td>
      <td align="center" class="color8" width="10%"><font class="bluenew">显示顺序</font></td>
      <td align="center" class="color8" width="10%"><font class="bluenew">营业状态</font></td>
      <td align="center" class="color8" width="40%"><font class="bluenew">负责人</font></td>
    </tr>
    <tr> 
      <td colspan="7">
        <table align="center" cellpadding="0" cellspacing="1" width="100%">
          <{section name="loop" loop=$resdata}>
						<tr <{if $smarty.section.loop.index%2 eq 1}>class="color13"<{else}>class="color12"<{/if}>>
							<td align="left" width="15%"  height="20"><{$resdata[loop].id}></td>
							<td align="left" width="25%"><{$resdata[loop].name}></td>
							<td align="right" width="10%"><{$resdata[loop].sort}></td>
							<td align="left" width="10%"><{$resdata[loop].type}></td>
							<td align="left" width="40%"><{$resdata[loop].duty}></td>
						</tr>	
					<{/section}>
        </table>
	   </td>
   </tr>
</table>
     </td>
  </tr>
</table>
<table class="color3" align="center" border="0" cellpadding="0" cellspacing="0" width="77%">
	<tr>
	   <td colspan="7" align="right"><{$splitPageStr}></td>
	</tr>
  <tr>
	   <td align="right"><input type="button" value="关闭" class="submitlist"  onclick="javascript:window.close();"></td>
   </tr>
</table>
</td>
</tr>
</table>
<{include file="foot.tmpl"}>
</form>
</body>
</html>
