<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="css/zigbee.css" rel="stylesheet" type="text/css">
<TITLE><{$title}></TITLE>
<{$srcAllJSfile}>
<script language="JavaScript">
function sendorder(index)
{
	if(index=="add")
	{
		var msg="";
		if(document.mainform.shop_id.value=="")
		{
			msg+=getmsg("ShopIdEmpty");
		}
		else if(!chkvalidnumberbase(document.mainform.shop_id.value,""))
		{
			msg+=getmsg("ShopIdWrong");
		}
		if(document.mainform.shop_name.value=="")
		{
			msg+=getmsg("ShopNameEmpty");
		}	
		else if(!chkword(document.mainform.shop_name.value,50))
		{
			msg+=getmsg("ShopNameWrong");
		}
		if(document.mainform.shop_duty.value=="")
		{
			msg+=getmsg("ShopDutyEmpty");
		}
		else if(!chkword(document.mainform.shop_duty.value,20))
		{
			msg+=getmsg("ShopDutyWrong");
		}
		if (document.mainform.shop_sort.value!=""&&!chkvalidnumberbase(document.mainform.shop_sort.value,""))
		{
			msg+=msg("ShopSortWrong");
		}
		if(msg!="")
		{
			alert(msg);
			return false;
		}		
	}
	document.mainform.topopt.value=index;
	document.mainform.submit();
}

function showImage(c_flg)
{
	obj=document.getElementById('image');
	if(c_flg==1)
	{
		obj.innerHTML='<img src="images/larout6_11.jpg">';
	}
	else
	{
		obj.innerHTML='';
	}
}

function showWindow()
{
	window.open("m_store.php?cmd=add&topopt=add_detail");
}
</script>
</head>
<body topmargin="0">
<form name="mainform" method="post" action="m_store.php"> 
<input type="hidden" name="cmd" value="add">
<input type="hidden" name="topopt" value="">	
<INPUT type="hidden" name="Logout" value="">
<{include file="head.tmpl"}>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" class="color3">
<tr>
<td height="20">&nbsp;</td>
</tr>
<tr >
<td valign="top">
	<table cellspacing="0" cellpadding="0" width="77%" border="0" align="center" class="color3">
	<tr>
	<td>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td width="100%" valign="top">
			<table width="100%" height="30" border="0" align="center" cellpadding="2" cellspacing="1"  class="border2">
			<tr>
				<td colspan="2" align="left" class="bg" height="30"><font class="bluenew"> 店铺基本表</font></td>
			</tr>
			<tr>
			<td>
				<table align="center" cellpadding="2" cellspacing="1" width="100%" class="border3">
				<tr>
					<td align="left" width="24%" class="color8" height="23" colspan="2"><font class="blue"> 店铺编号</font> <font class="red">*</font></td>
					<td align="left" class="color9" colspan="2"> 
											<{if $superregistar08 eq '1'}>
											<input type="text" size="10" maxlength="2" name="shop_id" value="<{$id}>" onblur="AddZero23(this);" style="ime-mode:disabled">
											<{else}>
											<input type="text" size="10" maxlength="3" name="shop_id" value="<{$id}>" onblur="AddZero23(this);" style="ime-mode:disabled">
											<{/if}>	</td>
					<td align="left" width="24%" class="color8" height="23"><font class="blue"> 营业状态</font></td>
					<td align="left" class="color9"> <input type="text"  size="8" maxlength="12" name="shop_type"  style="ime-mode:disabled"></td>
				</tr>
				<tr>
					<td align="left" class="color8" height="23" colspan="2"><font class="blue"> 店铺名</font> <font class="red">*</font></td>
					<td align="left" class="color9" colspan="2"> <input type="text" size="24" maxlength="30" name="shop_name"  style=""></td>
					<td align="left" class="color8" height="23"><font class="blue"> 店铺名拼音</font></td>
					<td align="left" class="color9"> <input type="text" size="24" maxlength="30" name="shop_name_kana"  style="ime-mode:disabled"></td>
				</tr>
				<tr>
					<td align="left" class="color8" height="23" colspan="2"><font class="blue"> 店铺负责人</font> <font class="red">*</font></td>
					<td align="left" class="color9" colspan="2"> <input type="text" size="24" maxlength="30" name="shop_duty"  style=""></td>
					<td align="left" class="color8" height="23"><font class="blue"> 店铺负责人拼音</font></td>
					<td align="left" class="color9"> <input type="text" size="24" maxlength="24" name="shop_duty_kana" style="ime-mode:disabled"></td>
				</tr>
				<tr>
					<td align="left" class="color8" height="23" colspan="2"><font class="blue"> 显示顺序</font></td>
					<td align="left" class="color9" colspan="4"> <input type="text" size="6" maxlength="6" name="shop_sort"  style="ime-mode:disabled"></td>
				</tr>
				<tr>
					<td align="left" class="color8" height="23" colspan="2"><font class="blue"> 店铺ロゴ选择</font></td>
					<td align="left" class="color9" colspan="4">&nbsp;<INPUT type="file" name="shop_logopath" maxlength=30 size=30 value="" STYLE="ime-mode:disabled"   >
				</tr>
					<tr>
						<td align="left" valign="top" class="color8" rowspan="3" colspan="2"><font class="blue"> 信息显示</font></td>
						<td align="left" class="color8" width="10%"><font class="blue"> 第1行</font></td>
						<td align="left" class="color9" colspan="3"> <input type="text" size="40" maxlength="40" name="shop_message1" style="ime-mode:disabled">（最大位数）</td>
					</tr>
					<tr>
						<td align="left" class="color8"><font class="blue"> 第2行</font></td>
						<td align="left" class="color9" colspan="3"> <input type="text" size="40" maxlength="40" name="shop_message2" style="ime-mode:disabled">（最大位数）</td>						
					</tr>
					<tr>
						<td align="left" class="color8"><font class="blue"> 第3行</font></td>
						<td align="left" class="color9" colspan="3"> <input type="text" size="40" maxlength="40" name="shop_message3" style="ime-mode:disabled">（最大位数）</td>	
					</tr>
					<tr style="display:none">
						<td align="left" width="6%"%" class="color8" rowspan="3"><font class="blue">店铺介绍</font></td>
						<td align="left" class="color8"><font class="blue"><input type="hidden" name="MAX_FILE_SIZE" value="200000"> 显示图像A</font></td>
						<td align="left" class="color9" colspan="3"><INPUT type="file" name="FilePathA" maxlength=30 size=30 value="" STYLE="ime-mode:disabled"   >
						<td align="left" class="color9" rowspan="3"><font class="blue"> 店铺介绍</font></td>
					</tr>
					<tr style="display:none">
						<td align="left" class="color8"><font class="blue"><input type="hidden" name="MAX_FILE_SIZE" value="200000"> 显示图像B</font></td>
						<td align="left" class="color9" colspan="3"><INPUT type="file" name="FilePathB" maxlength=30 size=30 value="" STYLE="ime-mode:disabled"   >
					</tr>
					<tr style="display:none">
						<td align="left" class="color8" valign="top"><font class="blue"><input type="hidden" name="MAX_FILE_SIZE" value="200000"> 显示图像C</font></td>
						<td align="left" class="color9" colspan="3">
						<INPUT type="radio" name="img_flg" id="img_flg1" value="1" <{if $resdata[0].c_flg eq "1"}>checked<{/if}>><label for="img_flg1">图像</label> 
						<INPUT type="file" name="FilePathC"  maxlength=20 size=20 value="" STYLE="ime-mode:disabled"   >
						<br><input type="radio" name="c_commend" id="img_flg2" valign="top" value="0" <{if $resdata[0].c_flg eq "0"}><{else}>checked<{/if}>><label for="img_flg2">信息</label>
						<textarea rows="3" cols="20" name="img_memo" id="img_memo" value="<{$resdata[0].c_commend}>"  style="ime-mode:disabled"></textarea></td>
					</tr>
					<tr style="display:none">
						<td align="left" class="color8" colspan="2"><font class="blue"> 组显示类型</font></td>
						<td align="left" valign="top" class="color9" colspan="2"> <select name="WeekValue" onchange="showImage(this.value);">
						<option value="0" <{if $resdata[0].pattern eq '0'}>SELECTED<{/if}> >选择种类的话</option>
						<option value="1" <{if $resdata[0].pattern eq '1'}>SELECTED<{/if}> >会显示种类</option>
						</select></td>
						<td align="left" class="color9" colspan="2"><center><span id="image"><{if $resdata[0].pattern eq '1'}><img src="images/larout6_11.jpg"><{/if}></span></center></td>
					</tr>
					<!--<tr>
					    <td align="left" class="color8" colspan="2"><font class="blue"> PASSWORD</font></td>
					    <td align="left" class="color9" colspan="4">
					    <input type="password" maxlength="20" name="shop_passwd" style="ime-mode:disabled">
					    </td>
					</tr>-->
				   <tr>
					<td align="right" class="color8" height="23" colspan="6"><font class="red">*  必须输入的项目</font></td>
				   </tr>
			</td>
			</tr>
			</table>	
		</td></tr>
		</table>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>


<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" class="color3">
<tr>
<td height="20">&nbsp;</td>
</tr>
<tr >
<td valign="top">
	
</td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" class="color3">
<tr><td><table cellspacing="0" cellpadding="0" width="77%" border="0" align="center" class="color3">
<tr>
    <td height="5" colspan="2">&nbsp;</td></tr>		
  <tr>
  		<td align="left" width="50%"><input type="button" value="他店铺一览" class="submitlist" onclick="javascript:showWindow();"></td>
		<td align="right" width="50%"><input type="button" value="保存" class="submitlist" onclick="javascript:sendorder('add')"> <input type="button" value="取消" class="submitlist" onclick="javascript:sendorder('back')"></td>
  </tr>
</table></td></tr>
  
</table>
<{include file="foot.tmpl"}>
</form>
</body>
</html>
